$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #a504ff;
$secondary_paletteKeyColor: #8b6d8d;
$tertiary_paletteKeyColor: #9a678c;
$neutral_paletteKeyColor: #7d7480;
$neutral_variant_paletteKeyColor: #7e7382;
$background: #17111b;
$onBackground: #ebdfed;
$surface: #17111b;
$surfaceDim: #17111b;
$surfaceBright: #3e3741;
$surfaceContainerLowest: #ffffff;
$surfaceContainerLow: #1f1923;
$surfaceContainer: #241d27;
$surfaceContainerHigh: #2e2832;
$surfaceContainerHighest: #39323d;
$onSurface: #ebdfed;
$surfaceVariant: #4d4351;
$onSurfaceVariant: #cfc2d3;
$inverseSurface: #ebdfed;
$inverseOnSurface: #352e38;
$outline: #988d9d;
$outlineVariant: #4d4351;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #e2b6ff;
$primary: #e2b6ff;
$onPrimary: #4d007b;
$primaryContainer: #6d00ac;
$onPrimaryContainer: #f3daff;
$inversePrimary: #9000df;
$secondary: #debcdf;
$onSecondary: #402843;
$secondaryContainer: #5a405d;
$onSecondaryContainer: #fdd9fd;
$tertiary: #f0b5de;
$onTertiary: #4b2142;
$tertiaryContainer: #b680a7;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #f3daff;
$primaryFixedDim: #e2b6ff;
$onPrimaryFixed: #2e004d;
$onPrimaryFixedVariant: #6d00ac;
$secondaryFixed: #fcd7fb;
$secondaryFixedDim: #debcdf;
$onSecondaryFixed: #29132d;
$onSecondaryFixedVariant: #583e5b;
$tertiaryFixed: #ffd7f1;
$tertiaryFixedDim: #f0b5de;
$onTertiaryFixed: #320c2c;
$onTertiaryFixedVariant: #64385a;
