$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #697A79;
$secondary_paletteKeyColor: #6F7978;
$tertiary_paletteKeyColor: #627C7B;
$neutral_paletteKeyColor: #777777;
$neutral_variant_paletteKeyColor: #777777;
$background: #121413;
$onBackground: #E3E2E1;
$surface: #121413;
$surfaceDim: #121413;
$surfaceBright: #383939;
$surfaceContainerLowest: #0D0E0E;
$surfaceContainerLow: #1A1C1C;
$surfaceContainer: #1F2020;
$surfaceContainerHigh: #292A2A;
$surfaceContainerHighest: #343535;
$onSurface: #E3E2E1;
$surfaceVariant: #464747;
$onSurfaceVariant: #C7C6C6;
$inverseSurface: #E3E2E1;
$inverseOnSurface: #2F3130;
$outline: #919190;
$outlineVariant: #464747;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B8CAC9;
$primary: #B8CAC9;
$onPrimary: #233333;
$primaryContainer: #394A49;
$onPrimaryContainer: #D3E6E5;
$inversePrimary: #506261;
$secondary: #BEC9C7;
$onSecondary: #293232;
$secondaryContainer: #3F4948;
$onSecondaryContainer: #DAE5E3;
$tertiary: #B0CCCA;
$onTertiary: #1B3534;
$tertiaryContainer: #7B9695;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D3E6E5;
$primaryFixedDim: #B8CAC9;
$onPrimaryFixed: #0E1E1E;
$onPrimaryFixedVariant: #394A49;
$secondaryFixed: #DAE5E3;
$secondaryFixedDim: #BEC9C7;
$onSecondaryFixed: #141D1D;
$onSecondaryFixedVariant: #3F4948;
$tertiaryFixed: #CCE8E6;
$tertiaryFixedDim: #B0CCCA;
$onTertiaryFixed: #051F1F;
$onTertiaryFixedVariant: #324B4A;
