$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #070707;
$secondary_paletteKeyColor: #070707;
$tertiary_paletteKeyColor: #070707;
$neutral_paletteKeyColor: #070707;
$neutral_variant_paletteKeyColor: #070707;
$background: #131313;
$onBackground: #E2E2E2;
$surface: #131313;
$surfaceDim: #131313;
$surfaceBright: #393939;
$surfaceContainerLowest: #0E0E0E;
$surfaceContainerLow: #1B1B1B;
$surfaceContainer: #1F1F1F;
$surfaceContainerHigh: #2A2A2A;
$surfaceContainerHighest: #353535;
$onSurface: #E2E2E2;
$surfaceVariant: #474747;
$onSurfaceVariant: #C6C6C6;
$inverseSurface: #E2E2E2;
$inverseOnSurface: #303030;
$outline: #919191;
$outlineVariant: #474747;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C6C6C6;
$primary: #FFFFFF;
$onPrimary: #1B1B1B;
$primaryContainer: #D4D4D4;
$onPrimaryContainer: #000000;
$inversePrimary: #5E5E5E;
$secondary: #C6C6C6;
$onSecondary: #1B1B1B;
$secondaryContainer: #474747;
$onSecondaryContainer: #E2E2E2;
$tertiary: #E2E2E2;
$onTertiary: #1B1B1B;
$tertiaryContainer: #474747;
$onTertiaryContainer: #E2E2E2;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #5E5E5E;
$primaryFixedDim: #474747;
$onPrimaryFixed: #000000;
$onPrimaryFixedVariant: #E2E2E2;
$secondaryFixed: #C6C6C6;
$secondaryFixedDim: #ABABAB;
$onSecondaryFixed: #1B1B1B;
$onSecondaryFixedVariant: #3B3B3B;
$tertiaryFixed: #5E5E5E;
$tertiaryFixedDim: #474747;
$onTertiaryFixed: #000000;
$onTertiaryFixedVariant: #E2E2E2;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #000000;
$term1: #FFFFFF;
$term2: #CCCCCC;
$term3: #8f8f8f;
$term4: #FFFFFF;
$term5: #111111;
$term6: #CCCCCC;
$term7: #FFFFFF;
$term8: #404040;
$term9: #CCCCCC;
$term10: #FFFFFF;
$term11: #909090;
$term12: #CCCCCC;
$term13: #808080;
$term14: #CCCCCC;
$term15: #FFFFFF;
